html{
    height: 100%;
    width: 100%;
  }
  .header{
      background-color: rgb(0, 0, 122);
      color: lightgrey;
      align-content: center;
      text-align: center;
      height: 2.5cm;
      font-size:  1cm;
      font-weight: 900;
  }
  .header:hover{
      background: linear-gradient(to right,black,blue);
      color: lightgray;
      box-shadow: 0cm 1cm 1cm rgb(0, 0, 112);
      cursor: crosshair;
      
  }
  ul {
      list-style-type: none;
      overflow: hidden;
      background-color: black;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      padding: 8px;
      background-color: black;
      color: aliceblue;
    }
    li a:hover {
      display: block;
      padding: 8px;
      background-color: grey;
    }
    .container1{
      width: 100%;
      height: 8cm;
      background: linear-gradient(to right,black,blue);
      text-align: center;
      align-content: center;
    }
    .container2{
      width: 100%;
      height: 100%;
      text-align: center;
      align-content: center;
    }
    .container3{
      width: 100%;
      height: 100%;
      text-align: center;
      align-content: center;
      font-size: 0.5cm;
      border: 0.25cm;
      border-color: blue;
      border-style: double;
    }
    .devider{
      width: 100%;
      height: 1.5cm;
      background: linear-gradient(to right,black,blue);
      margin-top: 0.5cm;
    }
    .button{
      width: 10cm;
      height: 1cm;
      background: linear-gradient(to left,black,blue);
      width: 100%;
      height: 100%;
      text-align: center;
      align-content: center;
      font-size: 1cm;
      margin-top: 2cm;
      font-weight: bold;
    }
    
  
  
  