.header{
    background-color: #4169e1;
    color: lightgrey;
    border-radius: 2cm;
    align-content: center;
    text-align: center;
    height: 1.5cm;
    font-size:  1cm;
    font-weight: 900;
}
.header:hover{
    background-color: purple;
    border: 0.05cm;
    border-radius: 2cm;
    border-style: solid;
    box-shadow: 0.5cm 0.5cm 1cm orange;
}
@media screen and (max-width: 700px) {

    .sidebar {
    
    width: 100%;
    
    height: auto;
    
    position: relative;
    
    }
    
    .sidebar a {float: left;}
    
    div.content {margin-left: 0;}
    
    }